
.contentmenu{
	
	}
	.menu{
		padding-top:2vh;
		padding-bottom:3vh;
	}	
.nav-tabs { border-bottom:3px solid #eee; padding-left:23%;font-size:2.6vh;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #2e3a43 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: rgb(67, 181, 31); color: rgb(67, 181, 31);font-weight:bold;height: 3px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 0; }
.tab-content{padding:3.2vh}

.thumbnail{
	background:#314b61;
}

.btn-mini{
	color:blue;
}

.mini2{
	color:red;
}

.nomer{
	margin-top:-4.5vh;
	padding:1vh;
	background:rgba(67, 181, 31, 0.82);
	color:#fff;
	width:15%;
	margin-left:2vh;
	text-align:center;
	border-radius:5px;
}

.fff{
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	border-radius: 2px;
	background-color:#fff;
    padding: 20px;
	margin-top:1.5vh;
    position: relative;
}
.content{
	padding-top:2vw;
	padding-bottom:3vw;
}
#status{
	min-height:20vw;
}
#profil{
	min-height:20vw;
}
#surat{
	min-height:20vw;
}
#Riwayat{
	min-height:20vw;
}
#Pengaturan{
	min-height:20vw;
}
#Eksekusi{
	min-height:20vw;
}
	
.nama1{
	float:left;
}
.nama{
	margin-left:5vw;
}
/*----------------box-------------------*/
/* Global */
 

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}


.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
	.nav-tabs { border-bottom:3px solid #eee; padding-left:14%;}

	
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
	.nav-tabs { border-bottom:3px solid #eee; padding-left:17%; font-size:0px;}
	
}


li { list-style-type:none;}

/* ::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; } */

/*--------------------------------------*/


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: rgb(67, 181, 31);
    border-color: rgb(67, 181, 31);
}

bootstrap.min.css:5
.paginat