

#wrapper{
	width:50%;
	margin:30px auto 20px auto;
}

#header{
	height:15%;
	width:100%;
}
#gambar{
	height:100%;
	width:20%;
	float:left;
}
#tulisan_uin{
	height:100%;
	width:90%;
	margin-left:10%;
	text-align:center;
	font-size:1.2em;
}
#surat_keterangan{
	font-size:1.1em;
}
#garis{
	border-top:3px solid;
	border-bottom:1px solid;
	height:3px;
}
#ket{
	margin-top:2%;
	margin-left:30%;
	height:6%;
	width:50%;
	text-align:center;
}
#keterangan{
}
#id{
	margin-left:39%;
}
#id2{
	float:left;
}
