/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#keterangan td{
	font-size:13px;
}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
#cboxClose{
	margin-left:20%;
	margin-top:-20px;
	padding:10px;
	color:red;
}

#judul_form{
	padding-left:1%;
	height:60px;
	width:100%;
}

#icon_form{
	height:100%;
	width:60px;
	float:left;
}
#icon_form img{
	height:100%;
	width:100%;
}

#judul{
	font-size:28px;
	font-weight:bold;
	border-bottom:2px solid #EEA200;
	padding-top:10px;
	color:#EEA200;
	width:82%;
	margin-left:65px;
	height:80%;
}

#batas{
	margin-top:5%;
	width:90%;
	margin-left:2%;
}

#masuk{
	margin-left:70%;
	float:left;
}

#keluar{
	margin-left:3%;
}
/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#555; opacity: 0.5; filter: }
#colorbox{outline:0;}
        #cboxError{padding:50px; border:1px solid #fff;}
        #cboxLoadedContent{background:#fff; padding:1px; border:2px solid #666; width:650px; height:480px; padding-left:30px; padding-top:30px;}
        #cboxLoadingOverlay{background:rgba(238, 162, 0, 0.24);}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#fff;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

		
#line2{
	margin:20px;
	text-align:center;
	margin-right:40px;
	padding-left:20px;
	padding-top:30px;
	padding-bottom:40px;
	border:1px solid #EBE9E9;
	
}

